<div class="grid-x">
    <div class="cell large-2"></div>
    <div class="cell large-8 title-form">
        <br>
        <h1 class="title">Agregar Paquete</h1>
        <hr class="line">
    </div>
    <div class="cell large-2"></div>
</div>


<%= render 'form', paquete: @paquete %>

