<div data-closable class="callout alert-callout-border alert radius">
    <strong>Error</strong> - <%= alert %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
</div>