
<div data-closable class="callout alert-callout-border success">
<strong>Yay!</strong> - <%= notice %>
<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
</button>
</div>

