<h1>Home</h1>


<div class="grid-x grid-margin-x">
    <div class="cell medium 6">
        <div class="callout secondary radius bordered shadow">
            <h4>Modelo: <%= @titulo%></h4>
            <ul>
                <% @atributos.each do |atributo| %>
                <li>
                    <p><%= atributo %></p>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>