.down-arrow{
    padding-left:6px;
}

.logo{
    padding-left: 25px;
}

.navbar{
    padding-top:15px;
    font-size: 20px;
}

.input{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 20px 20px 20px 20px;
    padding: 2px 15px;
    box-sizing: border-box;
    margin-top: 20px;
}

.icon{
    padding-top: 25px;
}

.nav-box{
    box-shadow: 1px 1px 10px gray;
    padding-bottom: 6px;
}

.text{
    font-family: 'Rajdhani';
}

.title{
    font-family: 'Dancing Script';
    
}

.footer{
    background-color: #114E60;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 50px;
}

.full-width{
    width:2000px;
    height: 400px;
}

.title-form{
    text-align: center;
}

.line{
    box-shadow: 1px 1px 10px gray;
    padding-bottom: 2px;
}

.rounded{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 20px 20px 20px 20px;
}

.error-message{
    color: red;
    
}

.size{
    font-size: 23px;
}

#search-icon{
    padding-left: 10px;
}

#agency-card{
    border-radius: 35px 35px 35px 35px;
    font-size: 40px;
    box-shadow: 1px 1px 10px gray;
    text-align: center;
}

