.down-arrow{
    padding-left:6px;
}

.logo{
    padding-left: 25px;
}

.navbar{
    padding-top:15px;
    font-size: 20px;
}

.input{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 20px 20px 20px 20px;
    padding: 2px 15px;
    box-sizing: border-box;
    margin-top: 20px;
}

.icon{
    padding-top: 25px;
}

.nav-box{
    box-shadow: 1px 1px 10px gray;
    padding-bottom: 6px;
}

.text{
    font-family: 'Rajdhani';
}

.title{
    font-family: 'Dancing Script';
    
}

.footer{
    background-color: #114E60;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 50px;
}

.full-width{
    width:2000px;
    height: 400px;
}

.size-letter{
    font-size: 20px;
}

.title-form{
    text-align: center;
}

.line{
    box-shadow: 1px 1px 10px rgb(51, 49, 49);
    padding-bottom: 1px;
}

.rounded{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 20px 20px 20px 20px;
}

.rounded-a{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 20px 20px 20px 20px;
    width: 600px;
    height: 350px;
}

.line-width{
    box-shadow: 1px 1px 10px rgb(51, 49, 49);
    padding-bottom: 1px;
}

.error-message{
    color: red;
    
}

.size{
    font-size: 25px;
}

.table{
    padding-top: 12px;
}

.trash-icon{
    padding-top: 20px;
}

.edit-icon{
    padding-top: 20px;
}

.filter-title{
    padding-top: 10px;
    font-size: 30px;
}

.filter{
    padding-top: 50px;
    padding-left: 40px;
    font-size: 35px;
}

.boxx-rounded{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 35px 35px 35px 35px;
    box-shadow: 7px 7px 8px rgb(119, 117, 117);
}

.box-rounded{
    border: 2px solid rgb(209, 204, 204);
    border-radius: 35px 35px 35px 35px;
    box-shadow: 7px 7px 8px rgb(119, 117, 117);
}

#search-icon{
    padding-left: 10px;
}

#agency-card{
    border-radius: 35px 35px 35px 35px;
    font-size: 40px;
    box-shadow: 1px 1px 10px gray;
    text-align: center;
}
.alert-callout-border {
    width: 100%;
    padding: 1.3rem;
    border-left-width: 0.3125rem;
    border-left-color: #cacaca;
}

.alert-callout-border strong {
    color: #0a0a0a;
}

.alert-callout-border .close-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.alert-callout-border.radius {
    border-radius: 0.6rem;
}

.alert-callout-border.primary {
    border-left-color: #1779ba;
}

.alert-callout-border.primary strong {
    color: #1779ba;
}

.alert-callout-border.secondary {
    border-left-color: #767676;
}

.alert-callout-border.secondary strong {
    color: #767676;
}

.alert-callout-border.alert {
    border-left-color: #cc4b37;
}

.alert-callout-border.alert strong {
    color: #cc4b37;
}

.alert-callout-border.success {
    border-left-color: #3adb76;
}

.alert-callout-border.success strong {
    color: #3adb76;
}

.alert-callout-border.warning {
    border-left-color: #ffae00;
}

.alert-callout-border.warning strong {
    color: #ffae00;
}

.button-hover-like {
    border: 2px solid #767676;
    background: transparent;
    color: #767676;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 0.07rem;
    transition: all 0.2s ease-in-out;
    position: relative;
}

.button-hover-like span {
    transition: all 0.2s ease-in-out;
}

.button-hover-like .fa {
    position: absolute;
    font-size: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #F15261;
    right: -20px;
    transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-like:hover {
    border-color: #114E60;
    background: transparent;
    transition: border-color 0.2s;
}

.button-hover-like:hover span {
    margin-right: 20px;
    color: #114E60;
}

.button-hover-like:hover .fa {
    right: 10px;
}

.socios-button{
    font-size: 17px;
}

.space-paquete{
    padding-left: 20px;
    padding-right: 20px;
}

.space-again{
    padding-bottom: 10px;
}