<% @paquete.calendario_anuales.each do |fecha| %> 
    <div class="grid-x">
        <div class="cell large-1"></div>
         <div class="cell large-4">
            <p class="text size"><%= fecha.fecha_salida %></p>
          </div>
        <div class="cell large-2"></div>
         <div class="cell large-4">
            <%= link_to agency_paquete_calendario_anual_path(@agency, @paquete, @calendario_anual.fecha_salida, id: fecha.fecha_salida),  :method => :delete,  data: { confirm: 'Are you sure?' } do%>
                <button class="button-hover-like button rounded text socios-button expanded"><span>Eliminar</span><i class="fa fa-heart"></i></button>
            <% end %>      
        </div>
        <div class="cell large-1"></div>
    </div>
<% end %>